# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Build output
dist/
build/
.cache/


# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Logs
logs/
*.log

# Temporary files
tmp/
temp/
.temp/

# OS files
Thumbs.db
.DS_Store

# Json files
Json_Files/

# MD files
MD_Files/

# Keep env 
!.env
